    <script src="{{ site.url }}/js/moment.min.js"></script>
    <script src="{{ site.url }}/js/moment/lang/es.js"></script>
    <script src="{{ site.url }}/js/jquery.dataTables.min.js"></script>
    <script src="{{ site.url }}/js/jquery.dataTables.sorting.js"></script>
    <script src="{{ site.url }}/js/jquery.address.js"></script>
    <script src="{{ site.url }}/js/mustache.js"></script>

    <script>
      // initialize datatables
      var events_table = $('#hack-night-events').dataTable( {
          "aaSorting": [ [0,'desc'] ],
          "aoColumns": [
              { "sType": "datetime" },
              null
          ],
          "bInfo": false,
          "bPaginate": false
      });

      // allows linking directly to searches
      if ($.address.parameter('search') != undefined)
        events_table.fnFilter( $.address.parameter('search') );

      // when someone types a search value, it updates the URL
      $('#hack-night-events_filter input').keyup(function(e){
        $.address.parameter('search', $('#hack-night-events_filter input').val());
      });

    </script>
