<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

    <!-- Open Graph support -->
    <meta property="og:locale" content="es_MX">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.url }}/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/html5shiv.js"></script>
      <script src="{{ site.url }}/js/respond.min.js"></script>
    <![endif]-->
  </head>
