    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ site.url }}/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/js/analytics_lib.js"></script>
    {% if page.url == "/index.html" %}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="{{ site.url}}/js/map.js"></script>
    {% endif %}

{% if page.events %}{% include events.html %}{% endif %}
{% if page.resources %}{% include resources.html %}{% endif %}
{% if page.people %}{% include people.html %}{% endif %}
{% if page.projects %}{% include projects.html %}{% endif %}
